* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

/* vvv NavBar vvv */
nav {
  display: flex;
  height: 8vh;
  margin: 0px;
  justify-content: space-evenly;
  align-items: center;
  background-color: #258efa;
}

/* ^^^ NavBar ^^^ */
/*------------------------------------------*/

/*------------------------------------------*/

/*  vvv Header/Footer Styling vvv  */
header,
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  min-height: 25vh;
  min-width: 100%;
  background-color: #1c3a94;
  position: relative;
  text-align: center;
}

footer .footer-top,
footer .footer-bottom {
  display: block;
  height: 50%;
  width: 100vw;
}

/*  ^^^ Header/Footer Styling ^^^  */
/*------------------------------------------*/
/* vvv Main Content Background Styling vvv */

section1 {
  height: 100vh;
  width: 100vw;
  top: 0;
  position: fixed;
  z-index: -2;
  background-image: url(img/bg.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

section2 {
  height: 100vh;
  width: 100vw;
  top: 130vh;
  position: absolute;
  background-color: ;
  z-index: -3;
  background-image: url();
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.left-column {
  -ms-flex: 30%;
  flex: 30%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.right-column {
  -ms-flex: 70%;
  flex: 70%;
  height: 100vh;
}

.left-column div,
.right-column div {
  margin-left: auto;
  margin-right: auto;
}
.active-link,
.active-link:hover {
  background-color: grey;
  color: black;
  cursor: default;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* ^^^ Main Content Styling ^^^ */
/*------------------------------------------*/
