/* vvv Responsive Styling vvv */
@media screen and (max-width: 810px) {
  #textcard {
    font-size: 1.25em;
    width: 85%;
  }
  .about-head {
    max-width:90%;
  }
  .about-head h2{
    font-size:7vw;
  }
}
@media screen and (max-width: 650px) {
  .home-image-text h1 {
    font-size: 5vw;
  }
 
  .home-image-text p {
    font-size: 4vw;
  }

  .home-image {
    background-position: top;
  }

  .head-shot-image {
    margin-top: 20px;
    height: 60vw;
    width: 60vw;
  }


  .dropdown-content a {
    float: none;
  }

  nav div a {
    font-size: 3.7vw;
  }

  #contact-box div #email,
  #contact-box div h3,
  #contact-box div h4 {
    font-size: 5vw;
  }

  #contact-box{
    width:50vw;

  }
}
