#logo {
  object-fit: contain;
  width: auto;
  height: 200px;
}

/* vvv  Main Homepage Image and Text Styling  vvv */
.home-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../img/CS17.jpg");
  border-radius: 12.5px;
  box-shadow: -35px -9px 22px -6px rgba(30, 30, 60, 0.79);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  grid-area: 2/2 / 12/12;
  z-index: 5;
}

.home-image-text {
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  line-height: 1.2;
  padding: 0px;
}

.home-image-text h1 {
  font-size: 2vw;
  font-family: "Roboto", fallback-font;
  margin: 0px;
  padding: 0px;
}

.home-image-text p {
  margin: 0px;
  padding: 5px;
  font-size: 1.75vw;
  font-family: "Roboto", fallback-font;
}

/* ^^^  Main Homepage Image and Text Styling  ^^^ */
/*----------------------------------------------------*/
/*  vvv  vvv  */
.head-shot-image {
  background-image: url("../img/Chris.jpg");
  box-shadow: -35px -9px 22px -6px rgba(30, 30, 60, 0.79);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 350px;
  width: 350px;
}

.about-head {
  background-color: #1B7894;
  color:#471609;
  border-radius: 20%;
  max-width: 65%;
  margin:30px;
  padding:5px;
}

.about-head h2 {
  text-align: center;
  margin: auto;
  font-size: 3vw;
}

div.grid-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 0px;
  grid-template: repeat(12, 1fr) / repeat(12, 1fr);
}

.grid-container .about-text {
  grid-area: 7/2/12/12;
}

div button {
  border: inset;
  display: block;
  padding: 9px 1.3vw;
  color: #363636;
  background-color: #e2fa25;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

button:hover {
  background-color: #32fa81;
  color: black;
  transition: 1s all;
}

button:active {
  padding: 4px 0.9vw;
  border: outset;
}

nav div a {
  background-color: #e2fa25;
  color: #363636;
  border-radius: 45px;
  font-weight: bold;
  text-align: center;
}

div a,
a {
  text-align: center;
  text-decoration: none;
}

nav div {
  padding: 10px 1.3vw;
}

nav div a:hover {
  background-color: #32fa81;
  color: black;
  transition: 1s all;
}

nav div a {
  padding: 10px 1.5vw;
  font-family: "Roboto", fallback-font;
}

.dropdown {
  overflow: hidden;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  cursor: pointer;
  z-index: 6;
  position: absolute;
  margin: 0px;
  float: right;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: left;
  margin: 0px 5px;
  float: right;
}

.dropdown-content div {
  margin: 0px;
}

.show {
  display: block;
}




#textcard {
  padding: 10px;
  font-size: 1.25em;
  width: 60%;
  height: auto;
  position: relative;
  padding:20px;
  border-radius: 12px;
  line-height: 1.3;
  font-size: 1.75em;
}

#contact-box {
  display: none;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  text-align: center;
  width: 33vw;
  height: 30vh;
  border: solid 1px;
  top: 200vh;
  z-index: 15;
  left: 33vw;
  border-radius: 45px;
  background-image: url(../img/background2.webp);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#email,
#contact-box div h3,
#contact-box div h4 {
  font-size: 1.5vw;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#email {
  color: blue;
}

#closeMeButton {
  background-color: #e2fa25;
  padding: 5px;
  border-radius: 45px;
  border: solid 1px #363636;
  transition: 1s all;
}

#closeMeButton:hover {
  background-color: #32fa81;
  color: black;
}

#closeMeButton:active {
  padding: 3px;
}
.active-link,
.active-link:hover {
  background-color: grey;
  color: black;
  cursor: default;
}
.footer-top button {
  margin: auto;
}

footer a {
  text-decoration: none;
  color: black;
  padding: 20px;
}

#dribble {
  --fa-bounce-height: 50px;
  --fa-bounce-rebound: 10px;
  --fa-bounce-jump-scale-x: 1.5;
}

footer a:hover {
  color: red;
}

/*  ^^^  ^^^  */