/* vvv Responsive Styling vvv */
@media screen and (max-width: 650px) {
  .home-image-text h1 {
    font-size: 5vw;
  }

  .home-image-text p {
    font-size: 4vw;
  }
  .home-image {
    background-position: top;
  }
  .head-shot-image {
    min-height: 40vh;
    max-width: 70%;
    margin-top: 20px;
  }
  .about-head h2 {
    font-size: 7vw;
  }
  .textcard {
    width: 100%;
    height: 100%;
    margin-top:0px;
  }
  .textcard p{
    font-size: 5vw;
  }
  #contact-box div #email,
  #contact-box div h3,
  #contact-box div h4 {
    font-size: 5vw;
  }
  #contact-box {
    height: 50vh;
    width: 50vw;
    left: 25vw;
  }
  .row {
    display: block;
    height: 100vh;
  }
  .right-column,
  .left-column {
    height: 50vh;
  }
}
